# Optional: copy from simple-sui-indexer for analytics
DATABASE_URL=postgres://postgres:postgres@localhost:5432/sui_indexer
POOL_ID=
BOT_ADDRESS=0xf3981a28e88f86255713dada5d7b1ebb23b0b9e499e80fa1406bdd74c3364735
